
$primary-color: #403888;
$secondary-color: #e7e7e7;

$purple-bg-dark:#725AC1;
$purple-bg: #8D86C9;


$dark-bg-color: #1E1244;
$bg-light-panel: #F8F7F5;


$alert-color: #FFC857;
$success-color: #1ABC9C;
$warning-color: #f08a24;
$info-color: #C4BFF6;




.awesome {
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
font-family:  Roboto;
}

/* Sizes ---------- */
.small.awesome {
font-size: 11px;
}
.medium.awesome {
font-size: 13px;
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}

/* Colors ---------- */
.blue.awesome {
background-color: #00A9E0;
}
.red.awesome {
background-color: #e33100;
}

.gray.awesome {
background-color: #E1E6E8;
text-shadow: 0 -1px 1px rgba(255,255,255,0.5);

}

.magenta.awesome {
background-color: #a9014b;
}
.orange.awesome {
 background-color: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
}
.yellow.awesome {
background-color: #ffb515;
}


button, .button {
  transition: all 0.3s ease 0s !important;
  vertical-align: middle;
  &.outline {
    &:hover, &:focus, &:active {
      background: none !important;
			border: 1px solid $purple-bg;
			color: $secondary-color;
    }
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: none;
    border: 1px solid $purple-bg-dark;
		color: $purple-bg;

  }
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 100;
}
.font-weight-normal {
	font-weight: 300;
}
.font-bold {
	font-weight: 400;
}
.font-heavy {
	font-weight: 700;
}


.ease-in {
	transition: all 1.3s d 1s !important;
}





body, html {
  font-weight: 300;
  p {
    font-weight: 300;
  }
}

a {
	color: $info-color;
	font-weight: 100;
	letter-spacing: 0.05rem;
	&:hover {
		color: $secondary-color;
	}
}

#topnav {
	background-image: radial-gradient(0% 100%, #725AC1 0%, #1F1639 100%);
	border-bottom:  1px dotted $purple-bg;
	height: 60px;
	z-index: 9999;
	.nav ul li {
		color: $secondary-color;
	}
}

.top-off-canvas-menu {
	background: $dark-bg-color;
}



#hero {
  img {
    width: 256px;
    margin-bottom: 12px;
  }
	  font-weight: 100;
		width: 100vw;
		height: 520px;
		background: #f5f5f5 url('../media/images/hero-bg.jpg') no-repeat;
		background-size: cover;
		text-align: center;
    	vertical-align: middle;
		color: $info-color;
		h1 {
		color: $secondary-color;
		font-weight: 100;
		letter-spacing: 1.5px;
		text-shadow: 0px 2px 4px #000;
		}
		.inner-hero {
			padding: 120px 80px;
			border: 0px solid blue;
			margin: 0 auto;
			p {
				font-weight: 100;
				font-size: 16px;
				color: $info-color;
				letter-spacing: 1.5px;
				line-height: 24px;
				text-shadow: 0px 2px 4px #000;
			}
		}
  .sub-head {
		font-size: 120%;

  }
}


#hero-small {
		border: 0px solid red;
	  font-weight: 100;
		width: 100%;
		height: 380px;
		background: #f5f5f5 url('../media/images/hero-bg-small.jpg') no-repeat;
		background-size: cover;
		text-align: center;
		color: $dark-bg-color;
		h1 {
		color: $dark-bg-color;
		font-weight: 100;
		letter-spacing: 1.5px;
		}
		.inner-hero {
			padding: 120px 80px;
			border: 0px solid blue;
			margin: 0 auto;
			p {
				font-weight: 100;
				font-size: 16px;
				color: $secondary-color;
				letter-spacing: 1.5px;
				line-height: 24px;
			}

		}
  .sub-head {
		font-size: 120%;

    }
    button, .button {
      transition: all 0.3s ease 0s !important;
      vertical-align: middle;
      &.outline {
        &:hover, &:focus, &:active {
          background: none !important;
          border: 1px solid $secondary-color;
    			color: lighten($dark-bg-color, 40%);
        }
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background: none;
        border: 1px solid $secondary-color;
    		color: $secondary-color;

      }
  }
}



@media (max-width: 784px) {
	#hero {
    img {
      width: 224px;
      margin-bottom: 12px;
    }
			h1 {
			font-size: 160%;
			}
			.inner-hero {
				padding: 100px 40px;
				border: 0px solid blue;
				margin: 0 auto;
				p {
					font-weight: 100;
					font-size: 18px;
					color: $info-color;
					letter-spacing: 1.5px;
					line-height: 24px;
					text-shadow: 0px 2px 4px #000;
				}
			}
	  .sub-head {
			font-size: 120%;

	  }
	}

  #hero-small {
    h1 {
      font-size: 180%;
    }
    p {
      font-size: 90%;
    }
  }
}


#particles-js {
	position: fixed;
	height: 100vh;
	width: 100vw;
}