.RidleyGrotesk-Thin {
	font-family: RidleyGrotesk-Thin;
	font-weight: normal;
	font-style: normal;
}
.RidleyGrotesk-UltraLight {
	font-family: RidleyGrotesk-UltraLight;
	font-weight: normal;
	font-style: normal;
}
.RidleyGrotesk-Bold {
	font-family: RidleyGrotesk-Bold;
	font-weight: normal;
	font-style: normal;
}
.RidleyGrotesk-ExtraBold {
	font-family: RidleyGrotesk-ExtraBold;
	font-weight: normal;
	font-style: normal;
}
.RidleyGrotesk-Medium {
	font-family: RidleyGrotesk-Medium;
	font-weight: normal;
	font-style: normal;
}
