
$primary-color: #403888;
$secondary-color: #e7e7e7;

$purple-bg-dark:#725AC1;
$purple-bg: #8D86C9;


$dark-bg-color: #1E1244;
$bg-light-panel: #F8F7F5;


$alert-color: #FFC857;
$success-color: #1ABC9C;
$warning-color: #f08a24;
$info-color: #C4BFF6;
