
$primary-color: #403888;
$secondary-color: #e7e7e7;

$purple-bg-dark:#725AC1;
$purple-bg: #8D86C9;


$dark-bg-color: #1E1244;
$bg-light-panel: #F8F7F5;


$alert-color: #FFC857;
$success-color: #1ABC9C;
$warning-color: #f08a24;
$info-color: #C4BFF6;



$icomoon-font-path: "fonts" !default;

$icon-adjust: "\e39e";
$icon-apps: "\e5c3";
$icon-aspect_ratio: "\e85b";
$icon-blur_linear: "\e3a3";
$icon-blur_on: "\e3a5";
$icon-turned_in: "\e8e6";
$icon-turned_in_not: "\e8e7";
$icon-border_horizontal: "\e22c";
$icon-border_inner: "\e22d";
$icon-border_outer: "\e22f";
$icon-change_history: "\e86b";
$icon-navigate_before: "\e408";
$icon-navigate_next: "\e409";
$icon-dashboard: "\e871";
$icon-favorite_border: "\e87e";
$icon-fingerprint: "\e90d";
$icon-gradient: "\e3e9";
$icon-grain: "\e3ea";
$icon-http: "\e902";
$icon-image_aspect_ratio: "\e3f5";
$icon-import_export: "\e0c3";
$icon-link: "\e157";
$icon-last_page: "\e5dd";
$icon-layers: "\e53b";
$icon-line_style: "\e919";
$icon-nfc: "\e1bb";
$icon-school: "\e80c";
$icon-box: "\e900";
$icon-envelope: "\e901";
$icon-align-left: "\e903";
$icon-align-center: "\e904";
$icon-browser: "\e905";
$icon-windows: "\e906";
$icon-window: "\e907";
$icon-folder-add: "\e908";
$icon-list: "\e909";
$icon-grid: "\e90a";
$icon-book: "\e90b";
$icon-download: "\e90c";
$icon-share: "\e90e";
$icon-atom: "\e90f";
$icon-graph: "\e910";
$icon-cube: "\e911";
$icon-bars: "\e912";
$icon-target: "\e012";
$icon-layers2: "\e031";
$icon-box2: "\e079";
$icon-stack: "\e913";
$icon-new-tab: "\e914";
$icon-embed: "\e915";
$icon-embed2: "\e916";
$icon-terminal: "\e917";
$icon-git: "\e918";
$icon-codepen: "\e91a";
