        <center>
        <img class="mas" src="../media/images/line-p.svg"  />
        </center>
    <section class="maker pbs" id="contact">
        <div class="row  text-center">
        <div class="small-12  medium-10 medium-offset-1 columns  ">
          <!--<h2 class="text-center">Get in touch!</h2>
          <p class="highlight mbl ">
                    We are here to answer any questions you may have about our product portfolio. <br>Reach out to us and we'll respond as soon as we can…

          </p>-->

        <ul class="mts round secondary button-group ">
  <li><a href="mailto:contact@nexusdev.us" target="_blank" class="button round"><i class="fa fa-envelope"></i></a></li>
</ul>

        </div>
        </div>
    </section>
