<!-- Main container -->
<div class="container">
    <!-- Blueprint header -->
    <header class="bp-header cf">
        <span>What we do <span class="bp-icon bp-icon-about" data-content="Our team of developers and designers provide full-stack consulting, educating business leaders about the way open data will change their business processes to on-site developer training for our Solidity Dev Suite.."></span></span>
        <h1 class="feature-title" style="text-align: center;">Featured Products</h1>
    </header>
    <!-- Grid -->
    <section class="slider">

        <div class="slide slide--current" data-content="content-1">
            <div class="slide__mover">
                <div class="zoomer flex-center">
                    <img class="zoomer__image" src="media/products/macbook.png" alt="Dapple" />
                    <div class="preview">
                        <img src="media/products/dapple-content-preview.png" alt="macbook app preview" />
                        <div class="zoomer__area zoomer__area--size-4"></div>
                    </div>
                </div>
            </div>
            <h2 class="slide__title"><span>Solidity Developer Suite</span> Dapple</h2>
        </div>
        <div class="slide" data-content="content-2">
            <div class="slide__mover">
                <div class="zoomer flex-center">
                    <img class="zoomer__image" src="media/products/macbook.png" alt="iPad Mini" />
                    <div class="preview">
                        <img src="media/products/ipad-content-preview.png" alt="iPad Mini app preview" />
                        <div class="zoomer__area zoomer__area--size-4"></div>
                    </div>
                </div>
            </div>
            <h2 class="slide__title"><span>The Fantastic</span> Dapphub.io</h2>
        </div>
        <div class="slide" data-content="content-3">
            <div class="slide__mover">
                <div class="zoomer flex-center">
                    <img class="zoomer__image" src="media/products/macbook.png" alt="MacBook" />
                    <div class="preview">
                        <img src="media/products/macbook-content-preview.jpg" alt="MacBook app preview" />
                        <div class="zoomer__area zoomer__area--size-3"></div>
                    </div>
                </div>
            </div>
            <h2 class="slide__title"><span>The Amazing</span> dappsys</h2>
        </div>
        <div class="slide" data-content="content-4">
            <div class="slide__mover">
                <div class="zoomer flex-center">
                    <img class="zoomer__image" src="media/products/imac.png" alt="iMac" />
                    <div class="preview">
                        <img src="media/products/imac-content-preview.jpg" alt="iMac app preview" />
                        <div class="zoomer__area zoomer__area--size-5"></div>
                    </div>
                </div>
            </div>
            <h2 class="slide__title"><span>The Glorious</span> Feedbase</h2>
        </div>

        <nav class="slider__nav">
            <button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
            <button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
            <button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
        </nav>
    </section>
    <!-- /slider-->
    <section class="content">
        <div class="content__item" id="content-1">
            <img class="content__item-img rounded-right features-bg" src="media/products/dapple-content.gif" alt="Dapple Content" />
            <div class="content__item-inner">
                <h2>Dapple</h2>
                <h3>Solidity Developer Suite</h3>
                <p>dapple is a developer multitool concerned primarily with managing the growing complexity of interconnected smart contract systems. Its core functionality encompasses *package management*, *build process*, and *deployment scripting*. These concepts are related in a way that is unique to the smart contract ecosystem, due to each blockchain's universal singleton nature. The central data model is the `dappfile`, whose definition depends on IPFS and also on the Ethereum blockchain specifically.</p>
                <p><a href="https://github.com/nexusdev/dapple">Learn more about &xrarr;</a></p>
            </div>
        </div>
        <div class="content__item" id="content-2">
            <img class="content__item-img rounded-right features-bg" src="media/products/ipad-content.jpg" alt="iPad Mini Content" />
            <div class="content__item-inner">
                <h2>dapphub.io</h2>
                <h3>Desktop-class architecture without a desktop</h3>
                <p>Don’t let its size fool you. iPad mini 3 is powered by an A7 chip with 64-bit desktop-class architecture. A7 delivers amazing processing power without sacriﬁcing battery life. So you get incredible performance in a device you can take with you wherever you go.</p>
                <p><a href="https://www.apple.com/ipad-mini-3/performance/">Learn more &xrarr;</a></p>
            </div>
        </div>
        <div class="content__item" id="content-3">
            <img class="content__item-img rounded-right features-bg" src="media/products/macbook-content.jpg" alt="MacBook Content" />
            <div class="content__item-inner">
                <h2>The MacBook</h2>
                <h3>It's the future of the notebook</h3>
                <p>With the new MacBook, we set out to do the impossible: engineer a full-size experience into the lightest and most compact Mac notebook ever. That meant reimagining every element to make it not only lighter and thinner but also better. The result is more than just a new notebook. It's the future of the notebook.</p>
                <p><a href="https://www.apple.com/macbook/design/">Learn more about &xrarr;</a></p>
            </div>
        </div>
        <div class="content__item" id="content-4">
            <img class="content__item-img rounded-right features-bg" src="media/products/imac-content.jpg" alt="iMac Content" />
            <div class="content__item-inner">
                <h2>The iMac</h2>
                <h3>Engineered to the very last detail</h3>
                <p>Every new Mac comes with Photos, iMovie, GarageBand, Pages, Numbers, and Keynote. So you can be creative with your photos, videos, music, documents, spreadsheets, and presentations right from the start. You also get great apps for email, surfing the web, sending texts, and making FaceTime calls — there’s even an app for finding new apps.</p>
                <p><a href="https://www.apple.com/imac/built-in-apps/">Learn more about the iMac's features &xrarr;</a></p>
            </div>
        </div>
        <button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
    </section>
</div>
<script src="js/classie.js"></script>
<script src="js/dynamics.min.js"></script>
<script src="js/main.js"></script>
