<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="{{ page.title }} - {{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />

    <!-- Typekit Font -->
    <script>
      (function(d) {
        var config = {
                  kitId: 'xih0jqp',
                  scriptTimeout: 3000,
                  async: true
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- CSS  Get: http://www.google.com/fonts/
    ================================================== -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,700|Raleway:400,200,700" rel="stylesheet" type="text/css">
    <!-- Fount Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/animate.min.css" />
    <!-- Ah, the favicon.
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content=" - {{ site.name }}"/>
    <meta property="og:url" content=" - {{ site.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:image" content="{{ page.imageurl }}"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.imageurl }}">

    <!-- modernizr
    ================================================== -->
    <script src="../bower_components/modernizr/modernizr.js"></script>

    <!-- Feather Icons -->
    <link rel="stylesheet" type="text/css" href="fonts/feather/style.css">
    <!-- General Slider Styles & header -->
    <link rel="stylesheet" type="text/css" href="css/slider.css" />
    <!-- Slider Component styles -->
    <link rel="stylesheet" type="text/css" href="css/component.css" />
  </head>
  <body>
