<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="{{ page.title }} - {{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />

    <!-- Typekit Font -->
    <script>
      (function(d) {
        var config = {
                  kitId: 'xih0jqp',
                  scriptTimeout: 3000,
                  async: true
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- CSS  Get: http://www.google.com/fonts/
    ================================================== -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,700|Lato:400,200,700" rel="stylesheet" type="text/css">
    <!-- Fount Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/animate.min.css" />
    <!-- Ah, the favicon.
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../media/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../media/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../media/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../media/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../media/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../media/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../media/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../media/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="../media/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="../media/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../media/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../media/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="../media/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="../media/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="../media/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="../media/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="../media/favicon/mstile-310x310.png" />


    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content=" - {{ site.name }}"/>
    <meta property="og:url" content=" - {{ site.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:image" content="{{ page.imageurl }}"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.imageurl }}">

    <!-- modernizr
    ================================================== -->
    <script src="../bower_components/modernizr/modernizr.js"></script>

    <!-- Feather Icons -->
    <link rel="stylesheet" type="text/css" href="fonts/feather/style.css">

  </head>
  <body>
