<section id="hero" >
    <div class="row inner-hero ">
      <div class="small-12 animated fadeIn"  style="margin-top: 20vh;">
        <center>
          <p class="animated fadeInDown ">
            <a  href="{{ site.url }}"><img  style="width:72px;"  src="/media/images/nxs-icon.svg" /> <br>NEXUS </a>

          </p>
          <p style="border-top: 1px dotted #725AC1; max-width:220px;">


        <!-- <h1 style="font-size:2rem;" class="mtl ptl">Request a Quote</h1> -->
        <a class="btn button primary tiny round outline mtl " style="text-transform:uppercase;" href="mailto:contact@nexusdev.us" target="_blank">Request a Quote</a>
        </p>


        {% include newsletter.html %}


        </center>
      </div>
    </div>
</section>
