
    <section class="maker ptl pbl" id="maker">
        <div class="row  text-center">
                      <img src="../media/products/logo-maker-transp.svg" alt="" />

        <div class="small-12  medium-10 medium-offset-1 columns mtl ">
          <h2 class="text-center">Maker - 'The Dai's DAO'</h2>
          <p class="highlight mbl ">
            Maker is a DAO based on the Ethereum blockchain, where it maintains the infrastructure for the Dai - a cryptocurrency that uses smart contract-enforced monetary policy to create price stability.
          </p>
    <p>
      The Dai enables Ethereum users to transact with smart contracts and applications on the Ethereum blockchain without having to deal with the volatility that is associated with traditional cryptocurrencies such as Bitcoin. It also functions as a decentralized savings account as it is long term deflationary, resulting in slow and steady capital gains.
    </p>
    <p>
      Maker is able to maintain the price stability of the Dai through the Dai Credit System, which backs the Dai with collateral stored in Ethereum smart contracts, while simultaneously functioning as an internet-based, p2p credit market that commoditizes credit by allowing anyone with valid collateral to take out loans that have low transaction costs and no middle man fees.
    </p>
    <p>
      The Maker DAO is owned by the people who bought its core token (called MKR) during the development of the system. The MKR token is also a cryptocurrency like the Dai, but does not have price stability and is highly speculative and volatile. Its function is to provide collateral insurance to the users of the Dai, as well as regulate the risk of the Dai Credit System. Maker doesn’t have a legal entity or any representation in the legal world, as the entirety of the organizations business logic is fully automated and executed on the Ethereum Blockchain
    </p>
        <ul class="mtl round secondary button-group ">
  <li><a href="https://makerdao.com" target="_blank" class="button">website</a></li>
    <li><a href="https://www.github.com/makerdao" target="_blank" class="button ">github</a></li>
</ul>

        </div>
        </div>
    </section>
