                  <center>
                  <img  src="../media/images/line-p.svg"   />
                  </center>
<div class="row pll prl pbs  animated fadeIn">
            <!--   <h2 class=" mbm text-center">Projects we're currently working on<br><small>Github Repositories</small></h2>-->

    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/dapple"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/dapplescript"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/dapple-chain"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/feedbase"></div>
              </div>
      </div>

    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/keeper"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/kyo"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/token-freezer"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/erc20"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/elastic-ethereum"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="nexusdev/resilient-ethereum"></div>
              </div>
      </div>
    <div class="row pas">
    <h3 class="text-center mbm">MakerDAO</h3>
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="MakerDAO/maker-js"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="MakerDAO/maker-otc"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="MakerDAO/token-auction"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="MakerDAO/maker-darts"></div>
              </div>
      </div>
    <div class="row pas">
      <!-- <h3 class="text-center mbm">Ethereum Developer Tools</h3> -->
              <div class="columns small-12 medium-6 medium-offset-3 ">
                  <div class="github-widget" data-repo="MakerDAO/maker-distributor"></div>
              </div>
      </div>
</div>
