
<center>
<img  class="  pbl" src="../media/images/line-p.svg"  />
</center>


<div id="tabs" class="tabs">
    <nav>
        <ul>
            <li><a href="#section-1"><span>dapple</span></a></li>
            <li><a href="#section-2"><span>dappsys</span></a></li>
            <li><a href="#section-3"><!--<svg class="icon-twitter"><use xlink:href="/media/products/icons.svg#icon-dapphub"></use></svg>--><span>dapphup</span></a></li>
            <li><a href="#section-4"><span>maker</span></a></li>
        </ul>
    </nav>
    <div class="content">
        <section id="section-1">

          <div class="row">
                    <div class="columns small-12 medium-7">
            <img data-interchange="[../media/products/dapple-content.gif, (default)], [../media/products/dapple-content.gif, (retina)]">

                            </div>

          <div class="columns small-12 medium-5">
                <h3>dapple</h3>
                <hr>

                <p>dapple is a developer multitool concerned primarily with managing the growing complexity of interconnected smart contract systems. Its core functionality encompasses <b>package management</b>, <b>build process</b>, and <b>deployment scripting</b>.
                These concepts are related in a way that is unique to the smart contract ecosystem, due to each blockchain's universal singleton nature. The central data model is the <code>dappfile</code>, whose definition depends on IPFS and also on the Ethereum blockchain specifically. </p>
                  <hr>
                  <a href="" class="button  round">Github</a>
            </div>


    </div>
        </section>
      <section id="section-2">

        <div class="row ">
        <div class="columns small-12 medium-4">
<img data-interchange="[../media/products/dapple-content.gif, (default)], [../media/products/dapple-content.gif, (retina)]">

                </div>
        <div class="columns small-12 medium-8">
              <h3>dapp<b class="font-weight:bold">sys</b></h3>

              <p>dappsys is a Solidity framework for building multi-contract systems. All contract logic must find a balance between flexibility against self-imposed constraints.   </p>
          </div>
</div>
      </section>
        <section id="section-3">

          <div class="row ">
          <div class="columns small-12 medium-4">
  <img data-interchange="[../media/products/dapple-content.gif, (default)], [../media/products/dapple-content.gif, (retina)]">

                  </div>
          <div class="columns small-12 medium-8">
                <h3>dapp<b class="font-weight:bold">hub.io</b></h3>

                <p>dappsys is a Solidity framework for building multi-contract systems. All contract logic must find a balance between flexibility against self-imposed constraints.   </p>
            </div>
  </div>
        </section>
        <section id="section-4">
            <div class="mediabox">
                <h3>Tomato Cucumber Curd</h3>
                <p>Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki bean gourd. </p>
            </div>
            <div class="mediabox">
                <h3>Mushroom Green</h3>
                <p>Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.</p>
            </div>

        </section>
        <section id="section-5">
            <div class="mediabox">
                <h3>Radish Tomato</h3>
                <p>Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage lettuce tomato kale arugula melon sierra leone bologi rutabaga tigernut.</p>
            </div>
            <div class="mediabox">
                <h3>Fennel Wasabi</h3>
                <p>Sea lettuce gumbo grape kale kombu cauliflower salsify kohlrabi okra sea lettuce broccoli celery lotus root carrot winter purslane turnip greens garlic.</p>
            </div>
            <div class="mediabox">
                <h3>Red Tofu Wrap</h3>
                <p>Green horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut wasabi tofu broccoli mixture soup.</p>
            </div>
        </section>
    </div><!-- /content -->
</div><!-- /tabs -->
