
<div id="tabs" class="tabs">
    <nav>
        <ul>
            <li><a href="#dapple"><span>dapple</span></a></li>
            <li><a href="#dappsys"><span>dappsys</span></a></li>
            <li><a href="#dapphub-io"><!--<svg class="icon-twitter"><use xlink:href="/media/products/icons.svg#icon-dapphub"></use></svg>--><span>dapphup</span></a></li>
        </ul>
    </nav>
    <div class="content small-text-center large-text-left">
        <section id="dapple">

          <div class="row">
                    <div class="columns small-12 large-7">
            <img data-interchange="[../media/products/dapple-content.gif, (default)], [../media/products/dapple-content.gif, (retina)]">

                            </div>

          <div class="columns small-12 large-5">
                <h3>dapple</h3>
                <hr>
                <p>dapple is a developer multitool concerned primarily with managing the growing complexity of interconnected smart contract systems. Its core functionality encompasses <b>package management</b>, <b>build process</b>, and <b>deployment scripting</b>.
                These concepts are related in a way that is unique to the smart contract ecosystem, due to each blockchain's universal singleton nature. The central data model is the <code>dappfile</code>, whose definition depends on IPFS and also on the Ethereum blockchain specifically. </p>
                  <hr>
                  <a href="https://github.com/nexusdev/dapple" target="_blank" class="button round">explore at <i class="fa fa-github"></i> </a>
            </div>


    </div>
        </section>
      <section id="dappsys">

        <div class="row ">
        <div class="columns small-12 medium-7">
<img data-interchange="[../media/products/dapple-content.gif, (default)], [../media/products/dapple-content.gif, (retina)]">

                </div>
        <div class="columns small-12 medium-5 ">
              <h3 >dappsys</h3>
                <hr>
              <p>dappsys is a Solidity framework for building multi-contract systems. All contract logic must find a balance between flexibility against self-imposed constraints.   </p>
              <p class="">dappsys 0.1.0 has undergone an initial <span class="highlight">third-party audit by Piper Merriam of Quick Left, Inc</span></p>
                  <hr>
                  <a href="https://github.com/nexusdev/dapple" target="_blank" class="button round">explore at <i class="fa fa-github"></i></a>
          </div>
</div>
      </section>
        <section id="dapphub-io">

          <div class="row ">
          <div class="columns small-12 medium-7">
  <img data-interchange="[../media/products/dapple-content.gif, (default)], [../media/products/dapple-content.gif, (retina)]">

                  </div>
          <div class="columns small-12 medium-5">
                <h3>dapp<b class="font-weight:bold">hub.io</b></h3>
                <hr>
                <p>On-chain dapple package index and web-based explorer. </p>
                    <hr>
                    <a href="http://beta.dapphub.io" target="_blank" class="button round">beta.dapphub.io MVP</a>
            </div>
  </div>
        </section>


    </div><!-- /content -->
</div><!-- /tabs -->
