<section id="topnav" class="animated fadeInDown sticky fixed">


    <header id="header" class="row">

        <div class="small-12 columns">
            <section class="right show-for-medium-up mam">
                <ul class="inline-list nav">
                    {% include nav.html %}
                </ul>
            </section>

            <section class="right show-for-small">
                <ul class="inline-list mam">
                <li>
                    <a class="top-off-canvas-toggle" href="#"><i class="fa fa-bars fa-lg">
                    </i></a>
                </li>
                </ul>
            </section>

        <a  href="{{ site.url }}"><img class="" style="margin-top:8px;width: 132px;" src="/media/images/nxs-logo-typo.svg" /> </a>


        </div>
    </header>
</section>
