<section id="topnav" class="invisible sticky fixed">


    <header id="header" class="row">

        <div class="small-12 columns ">
            <section class="right show-for-medium-up pts pbs">
                <ul class="inline-list nav mts pbs">
                    {% include nav.html %}
                </ul>
            </section>

            <section class="right show-for-small">
                <ul class="inline-list mam ">
                <li>
                    <a class="top-off-canvas-toggle" href="#"><i class="fa fa-bars fa-lg">
                    </i></a>
                </li>
                </ul>
            </section>

        <a  href="{{ site.url }}"><img class="logo "  src="/media/images/nxs-logo-typo.svg" /> </a>


        </div>
    </header>
</section>
