{% include head.html %}

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <!-- Add header and nav here  -->

        <!--[if lt IE 8]>
            <div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
        <![endif]-->



    {% include topnav.html %}

    <!-- Add OffCanvas  -->
    {% include offcanvas.html %}



        <div class="row pal">
          <section role="main">
            <div class="small-12 columns">

              {{ content }}

            </div>
          </section>
        </div>
    {% include footer.html %}
