<!-- Add Head  -->
{% include head.html %}

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <!-- Add header and nav here  -->

        <!--[if lt IE 8]>
            <div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
        <![endif]-->

<!-- Add TopNav  -->
{% include topnav.html %}

<!-- Add OffCanvas  -->
{% include offcanvas.html %}

<!-- Add Hero  -->
{% include hero.html %}


        <div class="row" id="about">
          <section role="main">
            <div class="small-12 columns before-features">

              {{ content }}

            </div>
          </section>
        </div>


      <section class="features" id="products">
          <div class="row">
                        <center>
                        <img  class="mal" src="../media/images/line-p.svg"  />
                        </center>
            <h2 class="text-center mbm">Solidity Dev Suite</h2>

          <div class="small-12 columns mtl ">
              {% include tabs-products.html %}

          </div>
          </div>
      </section>
        <center>
        <img  class="mal" src="../media/images/line-p.svg"  />
        </center>
  {% include maker.html %}


        <center>
        <img  class="mal" src="../media/images/line-p.svg"  />
        </center>

              {% include newsletter.html %}

<!-- Add Footer  -->
{% include footer.html %}
