<!-- Add Head  -->
{% include head.html %}

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <!-- Add header and nav here  -->

        <!--[if lt IE 8]>
            <div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
        <![endif]-->

<!-- Add TopNav  -->
{% include topnav.html %}

<!-- Add OffCanvas  -->
{% include offcanvas.html %}

<!-- Add Hero  -->
{% include hero.html %}


        <div class="row">
          <section role="main">
            <div class="small-12 columns before-features">

              {{ content }}

            </div>
          </section>
        </div>


      <section class="features">
          <div class="row">
          <div class="small-12 medium-10 medium-offset-1  columns mtl ptl">

              {% include intro-products.html %}

          </div>
          </div>
      </section>


<!-- Add Footer  -->
{% include footer.html %}
