<!-- Add Head  -->
{% include head.html %}

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <!-- Add header and nav here  -->

        <!--[if lt IE 8]>
            <div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
        <![endif]-->

<!-- Add TopNav  -->
{% include topsection.html %}




      <!--  <div class="row" id="about">
          <section role="main">
            <div class="small-12 columns before-features">

              {{ content }}

            </div>
          </section>
        </div> -->


      <section class="features" id="products">
          <div class="row">
      

          <div class="small-12 columns ">
              {% include repos.html %}

          </div>
          </div>
      </section>

<!--   {% include maker.html %} -->
{% include contact.html %}

      <!--   <center>
        <img  class="mal" src="../media/images/line-p.svg"  />
        </center>-->


<!-- Add Footer  -->
{% include footer.html %}
